* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  border: 1px solid black;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.moving-div {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  /* position: absolute; */
}
