:root {
  --circle-ratio: 200px;
  --imgContainer-width: 50px;
  --imgContainer-height: 50px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  border: 1px solid;
  height: 100vh;
  display: grid;
  place-items: center;
}

.circle {
  width: calc(2 * var(--circle-ratio));
  height: calc(2 * var(--circle-ratio));
  border: 1px solid;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;

  perspective: 100px;

  transition: transform 1s;
  animation: rotate 5s infinite linear;
}

.imgContainer {
  width: var(--imgContainer-width);
  height: var(--imgContainer-height);
  border: 1px solid blue;
  transform: rotateX(-80deg);
  transition: transform 1s;

  transform-style: preserve-3d;
  /* animation: rotateCube 5s infinite linear; */

  background-color: blue;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateX(80deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(80deg);
  }
}
