/* :root {
  --elipse-width: 400px;
  --elipse-height: 400px;
  --imgContainer-width: 50px;
  --imgContainer-height: 50px;
}


body {
  margin: 0;
}

.container {
  border: 1px solid;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #d3d3d3;
}

.circle {
  width: var(--elipse-width);
  height: var(--elipse-height);
  border: 1px solid;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.imgContainer {
  width: var(--imgContainer-width);
  height: var(--imgContainer-height);

  background-color: blue;
  cursor: pointer;

  transform: translate(0px, calc(var(--elipse-width) * -0.5));
}
*/

/* @keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateX(80deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(80deg);
  }
} */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.moving-div {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  /* position: absolute; */
}
